/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
/* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */
/* @import "component1.css";   Component-specific stylesheets, if any.   */
/* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


/*   ----- Variables  -----  */
:root {
    --cream: #E3DEE4E6;
    --babyBlue: #6994C1E6;
    --army: #42511FE6;
    --khahki: #A68C5DE6;
    --darkBrown: #050601;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body { /* Can alternatively define in html {}. */
    background: url(images/aztec-ruins-step-pyramid.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--darkBrown);
    font-family: "Crimson Text", serif;
    margin: 0%;
    padding: 0%;
    max-width:;
}

/*  ----- Page layout blocks -----  */
header {
    background-color: var(--army);
    color: var(--cream);
    margin: 0%;
    padding: 1%;
    margin: auto;
    width: 15%;
    text-align: center;
    min-width: 250px;
    border-radius: 5%;
}


main {
}

section {
    background-color: var(--cream);
    margin: 2%;
    padding: 2%;
    border-radius: 5%;
}

article {
    margin-left: 5px;
    border: 1px solid var(--darkBrown);
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#topic1 {
}

#topic2 {
}

#response {
    text-align:center;
    margin: 1%;
    font-size: medium;

}

div {
}

aside {
}

footer {
    text-align: center;
    background-color: var(--khahki);
    margin: 2%;
    padding: 2%;
    border-radius: 5%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

    .gallery figure {
        width: 600px;
        margin: 1%;
        padding: 1%;
    }

    .gallery figcaption {
        display: block;
        padding: 1%;
    }

    .gallery img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

/* ----- Anchors ----- Text links */
a {
}

    a:link {
    }

    a:hover {
    }

    a:active {
    }

    a:visited {
    }

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
    text-align: center;
    margin: 1%;
    padding:1%;
}


    nav a {
        background-color: var(--army);
        color: var(--cream);
        font-weight: bolder;
        text-decoration: none;
        border-radius: 1px;
        padding: 1%;
        margin: 1%;
        width: ;
        border-radius: 5%;
    }

        nav a:hover {
            background-color: var(--cream);
            color: var(--army);
        }
.local {
    text-align: center;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
}

    .local a {
        background-color: var(--army);
        color: var(--cream);
        font-weight: normal;
        text-decoration: none;
        border-radius: 0px;
        padding: 0.5%;
        margin: 0%;
        width:;
        border-radius: 5%;
    }

        .local a:hover {
            background-color: var(--khahki);
            color: var(--army);
        }

/*  -----  Typography  ----- */
p {
    color: var(--darkBrown);
}

br {
}

ol, ul, dl {
}

li {
}

dt {
}

dd {
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display SC", serif;
    text-align: center;
    font-weight: bolder;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

abbr {
}

acronym {
}

address {
}

blockquote {
}

q {
}

cite {
}

em {
}

hr {
}

mark {
}

s {
}

span {
}

strong {
}

sub {
}

sup {
}

time {
}

/*  ----- Coding or instructional typography ----- */
.required::after {
    content: "*";
    color: red;
}

pre {
}

code {
}

kbd {
}

samp {
}

var {
}

del {
}

ins {
}

/*  ----- Table ----- */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
}

caption {
    font-size: large;
}

thead {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: var(--khahki);
}

tbody {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tfoot {
}

tr td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: medium
}

tr:nth-child(even) {
    background-color: var(--khahki);
}

th {
}

td {
}

    td:nth-child(1) {
    }

colgroup {
}

data {
}

datalist {
}


/*  ----- Form ----- */
form {
    border: 2px solid var(--darkBrown);
}

fieldset {
    padding: 1%;
    margin: 1%;
}

    fieldset:hover {
        padding: 1%;
        margin: 1%;
        border: 2px solid;
        border-color: var(--army);
    }

legend {
    padding: 1%;
    margin: 1%;
    font-family: "Playfair Display SC", serif;
    font-size: medium;
}

label {
    padding: 1%;
    margin: 2%;
    text-align: left;
}

button {
    text-align: center;
    font-family: "Playfair Display SC", serif;
    margin: 1%;
    padding: 1%;
    background-color: var(--army);
    color: var(--cream);
    font-weight: bolder;
    border-radius: 3%;
}




        button:hover {
            background-color: var(--khahki);
            color: var(--army);
        }

input {
    padding: 1%;
    margin: 1%;
    font-family: "Playfair Display SC", serif;
}

select {
    padding: 1%;
    margin: 1%;
    font-family: "Playfair Display SC", serif;
}

optgroup {
}

option {
}

textarea {
    width: 95%;
    height: 30px;
    padding: 1%;
    margin: 1%;
    font-family: "Playfair Display SC", serif;
    vertical-align: bottom;
}

output {
}

meter {
}

progress {
}


/* ----- Media ----- */
figure {
}

figcaption {
}

figure img {
}

svg {
}

picture {
}

source {
}

iframe {
}

video {
}

audio {
}

embed {
}

object {
}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {
}

.floatright {
}

.floatleft {
}

.center-middle {
}

.ten {
}

.twenty {
}

.thirty {
}

.forty {
}

.fifty {
}

.sixty {
}

.seventy {
}

.eighty {
}

.radius {
}

.circle {
}

.boxshadow {
}

.tshadow {
}

.gradient {
}

.shape {
}

@keyframes App-logo {
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {
}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {
}
